#
# Project specific excludes
#
#
# ivoatex intermediate files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.toc
ivoatexmeta.tex

# vo-dml products
*.cmap
*.svrlt
*.gvd
*.validation-report.txt
__TEMP__.vo-dml.xml

# OS
.DS_Store

# Misc
*.swp
